/* Global */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.5s;
}

body {
  color: #555;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  text-align: justify;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
}

::selection {
  color: #ff724c;
  background-color: #dadada;
}

/* Menu bar */
.menuBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 150px;
  height: 100%;
  overflow-y: auto;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  z-index: 7;
}

.menuBar::-webkit-scrollbar {
  width: 5px;
}

.menuBar::-webkit-scrollbar-track {
  border-radius: 5px;
  background: #f4f4f4;
}

.menuBar::-webkit-scrollbar-track:hover {
  background: #c1c1c1;
}

.menuBar::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #c1c1c1;
}

.menuBar::-webkit-scrollbar-thumb:hover {
  background: #999;
}

.menuBar__profile {
  margin-top: 30px;
}

.menuBar__profile--avatar {
  display: block;
  height: 80px;
  width: 80px;
  margin: auto;
}

.menuBar__profile--title {
  color: #ff724c;
  text-align: center;
  margin-top: 10px;
}

/* Menu navbar */
.menuBar__nav {
  margin: 25px 0 30px;
}

.menuBar__nav ul {
  list-style: none;
  padding: 0;
}

.menuBar__item {
  height: 70px;
  text-align: center;
  border-top: solid 1px #f8f9fa;
  border-right: solid 3px transparent;
}

.menuBar__item:last-child {
  border-bottom: solid 1px #f8f9fa;
}

.menuBar__nav:hover .menuBar__item {
  filter: blur(1px);
  opacity: 0.7;
  transform: scale(0.98);
  box-shadow: none;
}

.menuBar__nav:hover .menuBar__item:hover {
  border-right: solid 3px #ff724c;
  box-shadow: 1px 0 7px rgba(0, 0, 0, 0.2);
  transform: scale(1);
  filter: blur(0px);
  opacity: 1;
}

.menuBar__item.active {
  border-right: solid 3px #ff724c;
  box-shadow: 1px 0 7px rgba(0, 0, 0, 0.2);
}

.menuBar__item--link {
  text-decoration: none;
}

.menuBar__item--content {
  color: #999;
  padding: 12px;
  font-size: 15px;
}

.menuBar__item.active .menuBar__item--content,
.menuBar__item:hover .menuBar__item--content {
  color: #333;
}

.menuBar__item--content i {
  color: #ff724c;
  font-size: 17px;
}

/* Main content */
.main {
  position: relative;
  height: 100%;
  margin-left: 150px;
}

.mainShow {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  padding: 25px 5%;
  border-radius: 7px;
  background-color: #fff;
}

/* Show homepage */
.showHomePage {
  position: relative;
  padding: 30px 20px 50px;
  margin: 5% auto;
  height: 80%;
  width: 90%;
  border-radius: 30px;
  overflow-y: auto;
  box-shadow: 0 1px 24px rgba(0, 0, 0, 0.2);
}

.showHomePage::-webkit-scrollbar {
  width: 5px;
}

.showHomePage::-webkit-scrollbar-track {
  border-radius: 5px;
  background: #f4f4f4;
}

.showHomePage::-webkit-scrollbar-track:hover {
  background: #c1c1c1;
}

.showHomePage::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #c1c1c1;
}

.showHomePage::-webkit-scrollbar-thumb:hover {
  background: #999;
}

.showHomePage__bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  overflow: hidden;
  z-index: 0;
}

.showHomePage__bg > video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: 117%;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.showHomePage__title {
  position: absolute;
  top: 25%;
  left: -5%;
  width: 50%;
  text-align: center;
  z-index: 1;
}

.showHomePage__title > h1 {
  color: #ff724c;
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 0;
}

/* Show detail content */
.mainShow__content {
  position: relative;
  padding: 30px 20px 70px;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  box-shadow: 0 1px 24px rgba(0, 0, 0, 0.2);
}

.mainShow__content::before {
  content: "";
  position: absolute;
  height: 110px;
  width: 110px;
  border-top: solid 3px #ff724c;
  border-left: solid 3px #ff724c;
}

.mainShow__content::-webkit-scrollbar {
  width: 5px;
}

.mainShow__content::-webkit-scrollbar-track {
  border-radius: 5px;
  background: #f4f4f4;
}

.mainShow__content::-webkit-scrollbar-track:hover {
  background: #c1c1c1;
}

.mainShow__content::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #c1c1c1;
}

.mainShow__content::-webkit-scrollbar-thumb:hover {
  background: #999;
}

/* Main content title */
.mainShow__content--title {
  display: inline-block;
  text-align: right;
  margin: 20px 12% 40px;
}

.mainShow__content--title > h2 {
  color: #eee;
  font-size: 55px;
  font-weight: 500;
  margin: 0;
}

.mainShow__content--title > span {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  padding: 2px 10px;
  background-color: #ff724c;
}

/* Main conten global */

.mainShow__content--h5 {
  padding: 3px 7px;
  border-left: solid 2px #ff724c;
  margin: 20px 0;
}

/* Social icon */
.socialIcon {
  font-size: 16px;
  margin-top: 25px;
}

.socialIcon > a {
  text-decoration: none;
}

.socialIcon--btn {
  height: 35px;
  width: 35px;
  line-height: 35px;
  margin-left: 9px;
  border: 0;
  transform: skew(0deg) translate(0, 0);
  transition: 0.5s;
  box-shadow: -3px 3px 3px 0px rgba(0, 0, 0, 0.5);
}

.socialIcon--btn::before {
  content: "";
  position: absolute;
  top: 1px;
  left: -3px;
  height: 100%;
  width: 3px;
  background: #b1b1b1;
  transform: 0.5s;
  transform: rotate(0deg) skewY(-45deg);
}

.socialIcon--btn::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: -1px;
  height: 3px;
  width: 100%;
  background: #b1b1b1;
  transform: 0.5s;
  transform: rotate(0deg) skewX(-45deg);
}

.socialIcon--btn:hover {
  transform: translate(0, -7px);
  box-shadow: -6px 4px 3px 0px rgba(0, 0, 0, 0.5);
}

.socialIcon--btn:focus {
  outline: none;
}

.socialIcon--btn:hover {
  color: #fff;
}

.socialIcon--facebook {
  color: #3b5999;
}

.socialIcon--facebook:hover {
  background-color: #3b5999;
}

.socialIcon--facebook:hover::before {
  background-color: #365492;
}

.socialIcon--facebook:hover::after {
  background-color: #4a69ad;
}

.socialIcon--twitter {
  color: #55acee;
}

.socialIcon--twitter:hover {
  background-color: #55acee;
}

.socialIcon--twitter:hover::before {
  background-color: #097aa5;
}

.socialIcon--twitter:hover::after {
  background-color: #53b9e0;
}

.socialIcon--youtube {
  color: #cd201f;
}

.socialIcon--youtube:hover {
  background-color: #cd201f;
}

.socialIcon--youtube:hover::before {
  background-color: #b33a2b;
}

.socialIcon--youtube:hover::after {
  background-color: #e66a5a;
}

.socialIcon--instagram {
  color: #e4405f;
}

.socialIcon--instagram:hover {
  background-color: #e4405f;
}

.socialIcon--instagram:hover::before {
  background-color: #d81c3f;
}

.socialIcon--instagram:hover::after {
  background-color: #e46880;
}

.socialIcon--skype {
  color: #00aff0;
}

.socialIcon--skype:hover {
  background-color: #00aff0;
}

.socialIcon--skype:hover::before {
  background-color: #097aa5;
}

.socialIcon--skype:hover::after {
  background-color: #53b9e0;
}

/* knowledge */
.knowledge {
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.knowledge.active {
  box-shadow: 0 7px 12px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
}

.knowledge.active .knowledge__header {
  height: 50px;
}

.knowledge.active .knowledge__body {
  height: auto;
}

.knowledge.active .knowledge__list > li {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition-timing-function: cubic-bezier(0, 1.5, 1, 1);
  transition-timing-function: cubic-bezier(0, 1.5, 1, 1);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.knowledge.active .knowledge__list > li:nth-child(1) {
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}

.knowledge.active .knowledge__list > li:nth-child(2) {
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.knowledge.active .knowledge__list > li:nth-child(3) {
  -webkit-transition-delay: 0.75s;
  transition-delay: 0.75s;
}

.knowledge.active .knowledge__list > li:nth-child(4) {
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
}

.knowledge__header {
  position: relative;
  height: 150px;
  transition: height 0.5s;
  overflow: hidden;
  background-color: #f5f5f5;
}

/* .knowledge__header.knowledge__reactjs {
  background-color: #198754;
}

.knowledge__header.knowledge__html {
  background-color: #e95a28;
}

.knowledge__header.knowledge__css {
  background-color: #2965f1;
}

.knowledge__header.knowledge__js {
  background-color: #e91e63;
} */

.knowledge__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  display: block;
  height: 50%;
  transition: transform 0.5s;
}

.knowledge__body {
  height: 70px;
  padding: 20px;
  padding-bottom: 3px;
  transition: height 0.5s;
  overflow: hidden;
}

.knowledge__title {
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: -5px;
  text-transform: uppercase;
}

.knowledge__list {
  margin-top: 5px;
  padding-left: 10px;
  color: #424242;
}

.knowledge__list > li {
  margin-top: 5px;
  transition-duration: 0;
  transition-delay: 0.5s;
  transform: translateX(-110%);
}

/* Clients */
.aboutMe__client--img {
  height: 80px;
  opacity: 0.36;
}

.aboutMe__client--img:hover {
  cursor: pointer;
  opacity: 1;
}

/* Numbers */
.about__num {
  padding: 10px 0 1px;
}

.about__num:hover {
  cursor: pointer;
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.2);
}

/* Resume */
/* Resume skills */
.resumeSkills {
  background-color: #fff;
  padding: 0.7rem 1.5rem 0;
  margin-top: 20px;
  box-shadow: 0px 0px 3px 1px #999;
}

.resumeSkills__belt {
  color: #fff;
  font-size: 1.1rem;
  background-color: #ff724c;
  padding: 0.12rem 1.2rem;
  margin: 0 -0.5rem 0.7rem;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  cursor: pointer;
}

.resumeSkills__content {
  height: 0;
  overflow: hidden;
  opacity: 0;
}

.resumeSkills__content > ul {
  padding-left: 1rem;
}

.resumeSkills__content.active {
  overflow: auto;
  opacity: 1;
  height: auto;
}

/* Resume experience */
.resume__milestone {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  padding: 2px 10px 2px 20px;
  background-color: #ff724c;
  box-shadow: 1px -1px 3px rgba(0, 0, 0, 0.5);
}

.resume__timeline {
  margin-left: 5px;
  margin-top: -2px;
}

.resume__content {
  padding: 12px 0px 12px 20px;
  margin-top: -2px;
  border-left: solid 1px rgba(12, 145, 240, 0.1);
}

.resume__content--small {
  color: #999;
  font-size: 12px;
  font-style: italic;
  margin-bottom: 0;
}

.resume__btn {
  color: #ff724c;
  padding: 0 10px;
  line-height: 35px;
  margin-left: 7px;
  border: 0;
  transform: translate(0);
  transition: 0.5s;
  box-shadow: -3px 3px 3px 0px rgba(0, 0, 0, 0.5);
}

.resume__btn::before {
  content: "";
  position: absolute;
  top: 1px;
  left: -3px;
  height: 100%;
  width: 3px;
  background: #b1b1b1;
  transform: 0.5s;
  transform: rotate(0deg) skewY(-45deg);
}

.resume__btn::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: -1px;
  height: 3px;
  width: 100%;
  background: #b1b1b1;
  transform: 0.5s;
  transform: rotate(0deg) skewX(-45deg);
}

.resume__btn:hover {
  transform: translate(0, -7px);
  box-shadow: -6px 4px 3px 0px rgba(0, 0, 0, 0.5);
}

.resume__btn:focus {
  outline: none;
}

.resume__btn:hover {
  color: #fff;
}

.resume__btn:hover {
  background-color: #ff724c;
}

.resume__btn:hover::before {
  background-color: #b65136;
}

.resume__btn:hover::after {
  background-color: #c9684e;
}

/* Projects buttons */
.projectsBtn {
  display: -webkit-box;
  display: flex;
}

.projectsBtn__item {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  font: 1.2rem;
  margin: 0;
  overflow: hidden;
  padding: 0.12rem 0.5rem;
  position: relative;
  top: 0;
  -webkit-transition: 360ms;
  transition: 360ms;
  background-color: #d6d6d6;
  background-image: radial-gradient(ellipse at top right, #f5f5f5, rgba(245, 171, 97, 0) 70%);
  box-shadow: 0 0.2rem 0 #b9b9b9;
  color: #123;
  text-shadow: 0 -0.1em 0 rgba(221, 238, 255, 0.5);
}

.projectsBtn__item.active {
  background-color: #ff724c;
  background-image: radial-gradient(ellipse at top right, #f5f561, rgba(245, 171, 97, 0) 67%);
  box-shadow: 0 0.2rem 0 #c45b3f;
}

.projectsBtn__item:hover {
  background-color: #61f561;
  background-image: radial-gradient(ellipse at top right, #b4b5ff, rgba(97, 245, 97, 0) 67%);
  box-shadow: 0 0.2rem 0 #0dc90d;
}

.projectsBtn__item:focus {
  outline: none;
}

/* Project items */
.projectItem {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.projectItem:hover {
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.36);
}

.projectItem__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  border: solid 5px rgba(245, 245, 245, 0.7);
  transform: translateY(24%) scale(0);
  pointer-events: none;
  background-color: transparent;
}

.projectItem__content {
  height: 100%;
  width: 100%;
  padding: 15px;
  background-color: #f5f5f5;
}

.projectItem:hover .projectItem__overlay {
  opacity: 1;
  transform: translateY(0) scale(1);
}

.projectItem__type {
  color: #999;
  position: absolute;
  bottom: 5px;
  left: 15px;
  font-size: 11px;
  text-transform: uppercase;
}

.projectItem__icon {
  color: #ff724c;
  position: absolute;
  bottom: 5px;
  right: 15px;
  font-size: 20px;
  text-transform: uppercase;
}

/* Overlay projects */
.overlayProj {
  position: fixed;
  top: 0;
  left: 0px;
  height: 100vh;
  width: 100%;
  padding: 25px 10%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 12;
}

/* Show detail content */
.overlayContent {
  padding: 60px 0 50px;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  background-color: #fff;
  box-shadow: 0 1px 33px rgba(0, 0, 0, 0.2);
}

.overlayContent__btn {
  top: 25px;
  padding: 10px 0;
  width: 79.5%;
  height: 50px;
  position: fixed;
  background: #fff;
  z-index: 7;
}

.overlayContent::-webkit-scrollbar {
  width: 5px;
}

.overlayContent::-webkit-scrollbar-track {
  border-radius: 5px;
  background: #f4f4f4;
}

.overlayContent::-webkit-scrollbar-track:hover {
  background: #c1c1c1;
}

.overlayContent::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #c1c1c1;
}

.overlayContent::-webkit-scrollbar-thumb:hover {
  background: #999;
}

.overlayBtn {
  border: none;
  font-size: 1.2rem;
  color: #888;
  padding: 5px 7px;
  background-color: transparent;
  transition: all 0.1s;
}

.overlayBtn:nth-child(2) {
  margin: 0 20px;
}

.overlayBtn:hover {
  color: #ff724c;
}

.overlayBtn:focus {
  outline: none;
}

.overlayDetail__tech {
  cursor: pointer;
  display: inline-block;
  width: fit-content;
  padding: 0 10px;
  margin: 3px 2px;
  border: none;
  border-radius: 20px;
}

.overlayDetail__tech i {
  font-size: 14px;
}

.overlayDetail__html {
  color: #fff;
  background-color: #e34f26;
}

.overlayDetail__css {
  color: #fff;
  background-color: #2965f1;
}

.overlayDetail__js {
  color: #000;
  background-color: #f7df1e;
}

.overlayDetail__jquery {
  color: #fff;
  background-color: #0769ad;
}

.overlayDetail__reactjs {
  color: #000;
  background-color: #61dafb;
}

.overlayDetail__bootstrap {
  color: #fff;
  background-color: #7952b3;
}

.overlayDetail__antd {
  color: #fff;
  background-color: #f63b4c;
}

.overlayDetail__restapi {
  color: #fff;
  background-color: #003da3;
}

.overlayDetail__sass {
  color: #fff;
  background-color: #bf4080;
}

/* Iframe youtube */

.overlay__iframe {
  height: 315px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

/* Get in touch */
.getInTouch {
  position: relative;
}

.getInTouch p i {
  position: absolute;
  left: 0;
  font-size: 24px;
  color: #ff724c;
}

/* Contact form */
.contactForm {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  padding: 3%;
  box-shadow: 0px 1px 12px rgba(12, 144, 240, 0.5);
  border-radius: 10px;
}
.contactForm div,
.contactForm label,
.contactForm input,
.contactForm textarea {
  width: 100%;
}

.contactForm__field:nth-of-type(2) {
  margin: 16px 0;
}

.contactForm__field:focus {
  outline: none;
}

label,
input,
textarea {
  padding: 8px;
}

label,
[placeholder] {
  color: #ff724c;
}

label i {
  margin: 0 10px 0 0;
}

.contactForm__field:focus-within label {
  color: #004577;
  letter-spacing: 2px;
}

input,
textarea {
  background: rgba(0, 0, 0, 0.05);
  border: none;
  border-radius: 4px;
  box-shadow: 0 8px 6px -6px #555;
}
input:focus,
textarea:focus {
  outline: none;
  background: #dfdfdf;
  box-shadow: none;
}

textarea {
  min-height: 70px;
}
textarea::-webkit-scrollbar {
  width: 0;
}

.contactForm > button {
  background: #ff724c;
  margin: 16px 0 50px 0;
  padding: 8px 16px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 8px 6px -6px #555;
}
.contactForm > button:hover {
  letter-spacing: 2px;
  box-shadow: none;
}

.contactForm > button:focus {
  outline: none;
}

/* Navbar Mobile */
.headerMobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 5%;
  background-color: #fff;
  border: solid 1px #f5f5f5;
  z-index: 12;
}

.navMobile {
  position: fixed;
  top: 10%;
  left: 0.5%;
  opacity: 0.5;
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 45px;
  color: #fff;
  background-color: #ff724c;
  overflow: hidden;
  z-index: 36;
}

.navMobile:hover {
  opacity: 1;
  box-shadow: 1px 2px 24px rgba(0, 0, 0, 0.2);
}

.navMobile.active {
  overflow: visible;
  height: 270px;
  opacity: 1;
}

.navMobile__icon {
  font-size: 25px;
  text-align: center;
  cursor: pointer;
}

.navMobile .navMobile__items {
  margin-top: 10px;
}

.navMobile__item {
  color: #555;
}

.navMobile__item:hover {
  color: #fff;
}

.navMobile__items > ul li {
  position: relative;
}

.navMobile__items > ul li:hover::after {
  position: absolute;
  font-size: 13px;
  height: 30px;
  line-height: 30px;
  top: 10px;
  left: 35px;
  padding: 0 10px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.7);
}

.navMobile__items > ul li:nth-child(1):hover::after {
  content: "Home";
}

.navMobile__items > ul li:nth-child(2):hover::after {
  content: "About";
}

.navMobile__items > ul li:nth-child(3):hover::after {
  content: "Resume";
}

.navMobile__items > ul li:nth-child(4):hover::after {
  content: "Projects";
}

.navMobile__items > ul li:nth-child(5):hover::after {
  content: "Contact";
}

.navMobile .navMobile__items > ul {
  list-style: none;
  padding-left: 0;
  margin-left: 13px;
}

.navMobile .navMobile__items > ul li {
  font-size: 17px;
  height: 40px;
}

/* Responsive */
@media (max-width: 1200px) {
  .socialIcon {
    margin-top: 15px;
  }

  .knowledge__list {
    padding-left: 30px;
  }

  .resumeSkills__belt {
    font-size: 1rem;
    padding: 0.12rem 1.5rem;
  }
}

@media (max-width: 991px) {

  .main {
    margin-left: 0;
  }

  .mainShow {
    position: relative;
    padding: 36px 0 0;
    height: auto;
  }

  .showHomePage {
    padding: 0;
    min-height: 200px;
    height: 60vh;
    box-shadow: none;
  }

  .showHomePage__title {
    top: 30%;
    left: 10px;
  }

  .showHomePage__title > h1 {
    font-size: 40px;
  }

  .mainShow__content {
    padding: 0 0 50px;
    box-shadow: none;
  }

  .mainShow__content::before {
    content: "";
    height: 0;
    width: 0;
    border: none;
  }

  .overlayProj {
    left: 0;
    width: 100%;
    padding: 25px 5%;
  }

  .overlayContent__btn {
    top: 25px;
    width: 89%;
  }

  .overlayBtn {
    font-size: 1rem;
  }

  /* Cân nhắc lại sau khi xem trên di động */
  .mainShow__content::-webkit-scrollbar {
    /* width: 7px; */
    display: none;
  }

  .mainShow__content--title {
    display: block;
    text-align: center;
    margin: 20px 0 40px;
  }

  .mainShow__content--title > h2 {
    font-size: 38px;
    font-weight: 600;
  }

  .mainShow__content--title > span {
    font-size: 13px;
  }
}

@media (max-width: 660px) {
  .overlay__iframe {
    height: 250px;
  }
}

/* Customize Bootstrap carousel overlay project */
#overlaySlide {
  overflow: hidden;
}

.overlaySlide__indicators {
  margin-right: 3%;
  justify-content: flex-end;
}

.overlaySlide__indicators li {
  height: 7px;
  width: 15px;
  background-color: #ff724c;
}

.overlaySlide__indicators li.active {
  width: 20px;
}

.overlaySlide__inner {
  border: solid 1px rgba(0, 0, 0, 0.12);
}

.carousel-control-next.overlaySlide__next,
.carousel-control-prev.overlaySlide__prev {
  width: fit-content;
  height: fit-content;
  padding: 5px 0;
  top: 50%;
  background-color: #ff724c;
  transition: all 0.5s;
}

.carousel-control-prev.overlaySlide__prev {
  transform: translateY(-50%) translateX(-100%);
}

.carousel-control-next.overlaySlide__next {
  transform: translateY(-50%) translateX(100%);
}

#overlaySlide:hover .carousel-control-next.overlaySlide__next,
#overlaySlide:hover .carousel-control-prev.overlaySlide__prev {
  transform: translateY(-50%) translateX(0);
}
